*{
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Merriweather Sans', sans-serif;
}
body{
    background-color: #faf7f2;
    ;
}
nav{
    background-color: #fff;
}
.nav-top-image  {
    background-image: url("./assets/mvp-banner.png");
    background-position-y: center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
}
.nav-top{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
    align-items: center;
    

}
.nav-top button{
    background-color: yellow;
    border: none;
    padding: 8px 32px;
    border-radius: 32px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    
}
.nav-top button:hover{
    scale: 1.5;
}
.nav-top svg{
  
    justify-content: center;
}
.nav-top-font{
    color:rgb(255 181 45);
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}
.nav-top-h1{
    color: #fff;
    font-weight: 400;   
    font-size: 52px;
    text-align: center  ;
    font-family: 'Merriweather Sans', sans-serif;
}
.nav-bottom{
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0px;
    padding-left: 16px;
    text-align: center;
    gap: 64px;
    background-color: #fff;
}
.nav-bottom a{
  align-items: center;
  font-weight: 400;
  font-family: 'Merriweather Sans', sans-serif;
  display: flex;
  cursor: pointer;
  padding: 16px;
  border-radius: 24px;
}
.nav-bottom a:hover{
    background-color: #121111;
    color: #fff;

    
}
.nav-bottom a img{
    margin-right: 16px;
    
}
.card-ad-container{
    display: flex;
    min-height: 50%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
}
.left-ad{
    margin-right: 16px;
    border-radius: 16px;
    cursor: pointer;
}
.right-ad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.left-ad:hover, .right-top-ad:hover,.right-bot-ad:hover{
    scale:1.5;
}
.right-top-ad img {
    border-radius: 16px;
    cursor: pointer;
}
.right-bot-ad img{
    border-radius: 16px;
    cursor: pointer;
}
.text-area{
    text-align: center;
    padding: 36px 0;
    position:relative;
    white-space: nowrap;

    
}
.text-area span{
    font-family: "Pacifico", cursive;
    color:red ;
    text-align: center;
    transition: transform 0.5s;

}
.text-area:hover span {
    transform: translateY(-100%);
}
.text-area h3{
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 8px;
    font-weight: 600;
    font-size: 40px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.menu a{
    background-color: #fff;
    padding: 16px;
    border-radius: 24px;
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}
.menu a:hover{
    background-color: #121111;
    color: #fff;
}
.menu a img{
    margin-right: 16px;

}
.top-3-products{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  margin-top: 16px;
}
.product{
    margin: 0 16px;
    background-color: #fff;
    
    border-radius: 16px;
    padding: 12px;
    transition: transform 2s;
}
.product>h3:hover{
    color: red;
    transform: scale(1.5);

    
}
.product img{
    height: 360px;
    width :360px;
    transition: transform 1s;
    border-radius: 50%;
}
.rotate-img{
    transform-origin: center;
    
}
.product:hover .rotate-img {
    transform: rotate(360deg); /* Döndürme açısı */
}
.product h3{
    margin :16px;
    padding-left: 16px;
}
.product-price{
    display: flex;
    margin-top: 8px;
    justify-content: space-around;
    font-family: 'Merriweather Sans', sans-serif;
}
.footer-container{
    margin-top: 32px;  
    background: #1a1a1a;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    padding-top: 43px;*{
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Merriweather Sans', sans-serif;
}
body{
    background-color: #faf7f2;
    ;
}
nav{
    background-color: #fff;
}
.nav-top-image  {
    background-image: url("./assets/mvp-banner.png");
    background-position-y: center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
}
.nav-top{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
    align-items: center;
    

}
.nav-top button{
    background-color: yellow;
    border: none;
    padding: 8px 32px;
    border-radius: 32px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    
}
.nav-top svg{
  
    justify-content: center;
}
.nav-top-font{
    color:rgb(255 181 45);
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}
.nav-top-h1{
    color: #fff;
    font-weight: 400;   
    font-size: 52px;
    text-align: center  ;
    font-family: 'Merriweather Sans', sans-serif;
}
.nav-bottom{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    text-align: center;
    background-color: #fff;
}
.nav-bottom a{
  align-items: center;
  font-weight: 400;
  font-family: 'Merriweather Sans', sans-serif;
  display: flex;
  cursor: pointer;

}
.nav-bottom a img{
    margin-right: 16px;
}
.card-ad-container{
    display: flex;
    min-height: 50%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
}
.left-ad{
    margin-right: 16px;
    border-radius: 16px;
    cursor: pointer;
}
.right-ad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.right-top-ad img {
    border-radius: 16px;
    cursor: pointer;
}
.right-bot-ad img{
    border-radius: 16px;
    cursor: pointer;
}
.text-area{
    text-align: center;
    padding: 36px 0;
    
}
.text-area span{
    font-family: 'Merriweather Sans', sans-serif;
    color:red ;
    text-align: center;
    
}
.text-area h3{
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 8px;
    font-weight: 600;
    font-size: 40px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.menu a{
    background-color: #fff;
    padding: 16px;
    border-radius: 24px;
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}
.menu a:hover{
    background-color: #121111;
    color: #fff;
}
.menu a img{
    margin-right: 16px;

}
.top-3-products{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  margin-top: 16px;
}
.product{
    margin: 0 16px;
    background-color: #fff;
    
    border-radius: 16px;
    padding: 12px;
}
.product img{
    height: 360px;
    width :360px;
}
.product h3{
    margin :16px;
    padding-left: 16px;
}
.product-price{
    display: flex;
    margin-top: 8px;
    justify-content: space-around;
    font-family: 'Merriweather Sans', sans-serif;
}
.footer-container{
    margin-top: 16px;  
    background: #1a1a1a;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    padding-top: 43px;
    padding-bottom: 43px;
}
.footer-left{
    margin-left: 1.5%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3%;
}
.footer-left a{
    color: rgb(201 199 199);
    font-weight: 400;
    line-height: 4vh;
}

.footer-mid{
    margin :2%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-mid h3{
    color: white;
}
.footer-mid a{
    color: rgb(201 199 199);
}
.footer-right{
    margin-top:2%;
    display: flex;
    flex-direction: column;
   min-width: 30vw;
  
}
.footer-right h3{
    color: white;
    padding: 10% 0;
}

.footer-pic-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap
}
.footer-pic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-right div img{
    margin: 1%;
   
}
.copy-right{
    border-top: solid 3px rgba(128, 128, 128, 0.315);
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
}
.copy-right a{
    color: white;
    
}
.copy-right svg{
    fill: white;
}
a{
    text-decoration: none;
}
    padding-bottom: 43px;
}
.footer-left{
    margin-left: 1.5%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3%;
}
.footer-left a{
    color: rgb(201 199 199);
    font-weight: 400;
    line-height: 4vh;
}

.footer-mid{
    margin :2%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-mid h3{
    color: white;
}
.footer-mid a{
    color: rgb(201 199 199);
}
.footer-right{
    margin-top:2%;
    display: flex;
    flex-direction: column;
   min-width: 30vw;
  
}
.footer-right h3{
    color: white;
    padding: 10% 0;
}

.footer-pic-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap
}
.footer-pic{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-right div img{
    margin: 1%;
   
}
.copy-right{
    border-top: solid 3px rgba(128, 128, 128, 0.315);
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
}
.copy-right a{
    color: white;
    
}
.copy-right svg{
    fill: white;
}
a{
    text-decoration: none;
}